body {
      background-color: pink;
}


h1 {
    color: blue;
    font-family: verdana;
    text-align: center
}
p {
    color: white;
    font-family: verdana;
    text-align: center
}

button {
  background-color: powderblue;
}


/*@keyframes img {
  .button {
    -webkit-animation: img 4s 1s infinite linear alternate;
  }
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(1.15);
  -webkit-transform: scale(1.15); /* Safari and Chrome */

#bubble {
  margin-left: 42%;
}
.element {
  animation-name: trial;
  animation-duration: 4s;
  animation-delay: .2s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1,.015,.295,1.225);
  animation-direction: alternate;
}
div {
  width: 200px;
  height: 200px;
  animation: trial 4s .2s infinite cubic-bezier(1,.015,.295,1.225) alternate;
}
@keyframes trial {
  0%{}
  100%{}
}
@keyframes trial {
  0%{

    transform:scale(.5);




  100%{

    transform:scale(3);
  }

}
}
