body {
      background-color: powderblue;
}


h1 {
    color: hotpink;
    font-family: verdana;
    text-align: center
}
p {
    color: black;
    font-family: verdana;
    text-align: center
}

/*.center {
  margin: auto;
  width: 60%;
  border: 2px solid white;
  border-radius: 8px;
  padding: 10px;
}*/

button {
  background-color: pink;
  font-size: 100%;
  border-radius: 5px;
  padding: 15px 55px;
  border: 2px solid white;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
    color: black;
}


/*@keyframes img {
  .button {
    -webkit-animation: img 4s 1s infinite linear alternate;
  }
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(1.15);
  -webkit-transform: scale(1.15); /* Safari and Chrome */

#bubble {
  margin-left: 42%;
}
.element {
  animation-name: trial;
  animation-duration: 3s;
  animation-delay: .2s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1,.015,.295,1.225);
  animation-direction: alternate;
}
div {
  width: 200px;
  height: 200px;
  animation: trial 3s .2s infinite cubic-bezier(1,.015,.295,1.225) alternate;
}
@keyframes trial {
  0%{}
  100%{}
}
@keyframes trial {
  0%{

    transform:scale(.5);




  100%{

    transform:scale(3);
  }

}
}
