body  {
  background-color: black;
}
h1 {
  color: lightBlue;
  font-family: verdana;
  text-align: center;
  font-size: 275%
}

p {
  color: white;
  font-family: verdana;
  text-align: center;
  font-size: 125%
}

h2 {
  color: lightBlue;
  font-family: verdana;
  font-size: 175%;
  text-align: center;
}

h3 {
  color: lightBlue;
  font-family: verdana;
  font-size: 175%;
  text-align: center;
}

button {
  background-color: lightBlue;
}
